/*
< == Dracula == >

Background = #282a36
Current Line = #44475a
Selection = #44475a
Foreground = #f8f8f2
Comment = #6272a4
Cyan = #8be9fd
Green = #50fa7b
Orange = #ffb86c
Pink = #ff79c6
Purple = #bd93f9
Red = #ff5555
Yellow = #f1fa8c


< == Blue 01 == >

01 = #EFFFFD
02 = #B8FFF9
03 = #85F4FF
04 = #42C2FF


| ===== Dark Mode ====== |

< == Color Scheme == >

Purple : #BB86FC
Blue 01 : #6200EE
Blue 02 : #3700B3
BlueGreen 01 : #03DAC6
BlueGreen 02 : #018786
Pink : #CF6679
Red : #B00020
Dark : #121212
       #3f4761
       #222831
       #283149
*/
